* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin: 0;
    padding-top: 10px;
}

img {
    width: 100%;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="email"],
form input[type="text"] {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    padding: 5px;
}

textarea {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    padding: 5px;
    resize: vertical;
    min-height: 120px;

}

form input[type="submit"] {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: rgb(82, 153, 82);
    color: white;
}
.maps{
    display: flex;
    align-items: center;
    flex-direction: column;
}
iframe{
    width: 100%;
    max-width: 500px;
}

